<div id="header">
    <div id="header-bg">
        <div class="jumbotron">
            <div class="container">
                <h1>{{page.heading}}
                    {% if page.tagline }%}
                    <br>
                    <small>{{page.tagline}}</small>
                    {% endif %}
                </h1>
                {% if page.description %}
                <p class="lead">
                    {% if page.icon %}
                    <span class="item">
                        <img src="{{site.baseurl}}/assets/img{{page.icon}}">
                    </span>
                    {% endif %}
                    {{page.description}}
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="section section-dirt">
</div>