<div id="header">
    <div id="header-bg">
        <div class="jumbotron">
            <div class="container">
                <h1>{{site.name}}{% if site.tagline %}<br><small>{{site.tagline}}</small>{% endif %}</h1>
                {% if site.description %}<p class="lead">{{site.description}}</p>{% endif %}
                <p class="buttons">
                    <a class="btn btn-primary btn-lg" role="button" href="{{site.baseurl}}/downloads/">Downloads</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/items/">Items</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/screenshots/">Screenshots</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/servers/">Servers</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dirt">
    <div class="container">
        <div class="jumbotron">
            
            <h2>What is Skyblock?</h2>
            
            <p>Skyblock is a Minetest game where the world is mostly empty at first except for a small floating island.</p>

            <p>You start out standing on the island. Your rank is Level 1. There are 10 quests to complete. 
                When a quest is achieved, you get a reward. When all 10 quests are achieved, you are 
                promoted to Level 2 and given new quests with new rewards.</p>

            <p>Finish the Level 2 quests, and there is a Level 3. Finish Level 3 and you graduate as a Skyblock 
                Master. You are granted <strong>Fly</strong> and <strong>Fast</strong> privileges and may build 
                what you wish.</p>

            <hr>
            
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <a href="https://cloud.githubusercontent.com/assets/51875/8764767/6ed34c26-2e2c-11e5-95b0-d1e0f7a36ee5.png" class="fancybox" rel="screenshots"><img src="https://cloud.githubusercontent.com/assets/51875/8764767/6ed34c26-2e2c-11e5-95b0-d1e0f7a36ee5.png" alt="main screenshot"></a>
                    </div>

                    <div class="embed-responsive embed-responsive-4by3 thumbnail">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5-qpuXP88SU" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-8">

                    <h2>Playing Instructions</h2>

                    <p><strong><em>Quests</em></strong></p>

                    <p>Press <code>I</code> to view your inventory, this will also display the quests for your current level.</p>

                    <p><strong><em>Quest Block</em></strong></p>

                    <p>Dig using <code>long left click</code> to restart on Level 1.</p>

                    <p>Open using <code>right click</code> to view the owner's level progress.</p>

                    <p><strong><em>Death Hurts</em></strong></p>

                    <p>If you die then you will have to restart at Level 1 and you will lose your items, however you will get to keep the structures you have created including chests.</p>

                    <p><strong><em>What's Next</em></strong></p>

                    <p>The rest is up to you. Load your favorite minetest mods and start building your world!</p>
                </div>
            </div>
        </div>
    </div>
</div>
