<div id="header">
    <div id="header-bg">
        <div class="jumbotron">
            <div class="container">
                <h1>{{site.name}}{% if site.tagline %}<br><small>{{site.tagline}}</small>{% endif %}</h1>
                {% if site.description %}<p class="lead">{{site.description}}</p>{% endif %}
                <p class="buttons">
                    <a class="btn btn-primary btn-lg" role="button" href="{{site.baseurl}}/downloads/">Downloads</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/items/">Items</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/screenshots/">Screenshots</a>
                    <a class="btn btn-default btn-lg" role="button" href="{{site.baseurl}}/servers/">Servers</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section section-dirt">
    <div class="container">
        <div class="jumbotron">
            
            <h2>What is Skyblock?</h2>
            <p>Skyblock is a Minetest game where the world is mostly empty at first except for a small floating island.</p>
            <p>You start out standing on the island. Your rank is Level 1. There are 10 quests to complete. When a quest is achieved, you get a reward. When all 10 quests are achieved, you are  promoted to Level 2 and given new quests with new rewards.</p>
            <p>Finish the Level 2 quests, and there is a Level 3. Finish Level 3 and you graduate as a Skyblock Master. You are granted <strong>Fly</strong> and <strong>Fast</strong> privileges and may build what you wish.</p>

            <hr>
            
            <div class="row">
                <div class="col-lg-4">
                    <div class="thumbnail">
                        <a href="https://cloud.githubusercontent.com/assets/51875/8764767/6ed34c26-2e2c-11e5-95b0-d1e0f7a36ee5.png" class="fancybox" rel="screenshots"><img src="https://cloud.githubusercontent.com/assets/51875/8764767/6ed34c26-2e2c-11e5-95b0-d1e0f7a36ee5.png" alt="main screenshot"></a>
                    </div>

                    <div class="embed-responsive embed-responsive-4by3 thumbnail">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5-qpuXP88SU" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-8">

                    <h2>Quests and Feats</h2>
                    <p>Your current quests are listed in your Inventory (press <code>I</code>). Feats (completed quests) are indicated. The Inventory also includes hints in the form of small node icons. If you click those, they will show you how to craft associated items.</p>
                    <p>On the islands where you start, or where you are respawned, the quest block will appear. It looks like <code>?</code>. If you or other players punch these (left or right click), your quests and feats are listed there for everybody to view.</p>

                    <h2>Starting Over</h2>
                    <p>If you complete a quest, the reward you get is often an object needed to finish other quests. If you lose the object, there may be no way to proceed. In this case, you will have no choice but to start over.</p>
                    <p>You can use quest blocks to start over. To do so, dig one of them using long left click. This will send you back to the start. You will lose everything in your inventory, and will have to do levels and feats again. If you built things those will remain, including chests and their contents.</p>
                    <p>If you die, exactly the same thing happens. You start over and only placed nodes remain.</p>
                    <p>Bags are special. In some Skyblock worlds, you may get to keep bags and anything in them when you start over. This is a configuration option.</p>
                    
                    <h2>After Finishing</h2>
                    <p>If you finish all levels, you get <strong>Fly</strong> and <strong>Fast</strong> as explained before. There are no more tasks and you may build whatever you wish.</p>
                    <p>Don't interfere with other players' quests or buildings.</p>
                    <p>Some Skyblock servers may reset the worlds periodically as this is primarily a puzzle game and not for long-term building. If you want to keep something that you have built, ask the server admin to make a "schem" for you.</p>
                    <p>If you are playing in single-player mode, this does not apply. Your Skyblock world will continue indefinitely as it is.</p>

                </div>
            </div>
        </div>
    </div>
</div>
